<!DOCTYPE html>
<style>
        html {
            margin: 0;
            padding: 0;
            width: 100%;
            height: 100%;
        }
    </style>
<html>
<head>
    <title>@ViewData["Title"]</title>
</head>
<style>
        body {
            height: 100%;
            margin: 0;
            padding: 0;
            border: 0;
        }
    </style>
<body>
    <main>
        @RenderBody() <!-- This is required to render the content of the views -->
    </main>
    <footer>
        <p>&copy; 2025 - BerserkerTheatre</p>
    </footer>
</body>
</html>
