@* @{
    ViewData["Title"] = "Home";
}

<div class="text-center">
    <h1>@ViewData["Title"]</h1>
    <h1 class="display-4">Welcome to Berserker Cinema page.</h1>
    <p>Cinema where?</p>
</div> *@

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <title>React Integration</title>
</head>
<body>
    <div id="root"></div> <!-- This is where React will render -->

    <!-- Include the React bundle -->
    <script src="/js/main.js"></script>
</body>
</html>