@{
    ViewData["Title"] = "Admin Dashboard";
}

<div class="text-center">
    <h1>@ViewData["Title"]</h1>
    <h1 class="display-4">Welkom to the Admin Dashboard!</h1>
    <p>Cinema where?</p>
</div>
